@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&display=swap');

/*----- Text -----*/
body {
    color: #c5c3c6;
    background: url(/static/images/kitchen.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

.cursive {
    font-family: 'Dancing Script', cursive;
}

h2,
h3,
h4 {
    font-family: 'Dancing Script', cursive;
}

.text-shadow {
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}

.sorry {
    position: absolute;
    top: 40%;
}

.sidenav>li>a{
    color: #c5c3c6;
}

.large-text {
    font-size: 3vw;
    margin-bottom: 5px;
}

textarea {
    color: #c5c3c6;
}
/*----- Flash messages -----*/

.flashes {
    line-height: 2;
}

/*----- Collapsibles -----*/

.collapsible {
    margin-top: 4vw;
}

/*----- Cards -----*/

.spacer {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.title {
    color: #c5c3c6;
    padding: 5px;
    width: fit-content;
    background: rgba(0, 0, 0, 0.7);
}

.backing {
    background-color: #46494c;
}

.light-backing {
    background-color: #4c5c68;
}

.card .cuisine-title {
    font-size: 3vw;
}

/*----- Cuisine card -----*/

.cuisine-image {
    max-height: 28vw;
    object-fit: cover;
}

.card .cuisine-image-title {
    font-size: 4vw;
    color: #c5c3c6;
    padding: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none;
}

.card .cuisine-image-btn {
    z-index: 1;
    position: relative;
}

/*-- Error page cards --*/

.error-wrapper {
    height: 65vh;
}

.error-text {
    margin-left: 20px;
    margin-right: 20px;
}

/*----- Landing page -----*/

#welcome {
top: 0;
font-size: 5vw;
width: fit-content;
height: fit-content;
}

.welcome-card {
top: 15vh;
}

/*----- Navbar -----*/
nav {
    background-image: linear-gradient(to right, #4c5c68 , #46494c);
    border-bottom: 3px solid #1985a1;
}
.brand-logo {
    margin-left: 10px;
}

/*----- Recipe list -----*/

.collapsible-header .col strong {
    margin: 5px;
    line-height: 30px;
}

/*----- Buttons -----*/

.profile-buttons {
    text-align: center;
}

.btn-small  {
    color: #dcdcdd;
    font-weight: 800;
    margin: 2px;
}

.btn, .btn-small {
    margin-bottom: 10px;
}

.btn-small.hover {
    background-color: #1985a1 !important;
}

/*----- Recipes -----*/

#add_comment {
    height: 10em;
}

/*----- Modal -----*/

.modal .modal-footer {
    background-color: #4c5c68;
}

/*----- Comments -----*/

.col .comment {
    padding: 20px 0;
}

/*----- Border -----*/

.border {
    border: 3px solid #1985a1;
    border-radius: 10px;
}

/*----- Media queries -----*/

@media (max-width: 595px) {
    .card .cuisine-image-title {
        font-size: 6vw;
    }

    nav a.brand-logo {
        font-size: 2rem;
        left: 20%;
        transform: translateX(-25%);
    }
}

