/*----- Text -----*/

.text-shadow {
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}

/*----- Flash messages -----*/

.flashes {
    line-height: 2;
}

/*----- Landing page -----*/

#welcome {
top: 0;
font-size: 5vw;
}

.welcome-card {
top: 15vh;
}

/*----- Navbar -----*/

.brand-logo {
    margin-left: 10px;
}

/*----- Recipe list -----*/

.btn-small {
    margin: 2px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 30px;
}

.profile-buttons {
    margin-left: auto;
    text-align: center;
}

/*----- Admin panel -----*/

.card .cuisine-title {
    font-size: 3vw;
}

/*----- Cuisine card -----*/

.cuisine-image {
    max-height: 28vw;
    object-fit: cover;
}

.card .cuisine-image-title {
    font-size: 4vw;
}

.hidden {
    display: none;
}

.card .cuisine-image-btn {
    z-index: 1;
    position: relative;
}

/*----- Search -----*/



/*----- Media queries -----*/

@media (max-width: 595px) {
    .card .cuisine-image-title {
        font-size: 6vw;
    }
}

@media (max-width: 350px) {
    nav .brand-logo {
        font-size: 1.7rem;
        left: 30%;
    }

    .button-wrapper {
        display: block;
    }
}
