/*----- Text -----*/
body {
    color: #c5c3c6;
}

.text-shadow {
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}

/*----- Flash messages -----*/

.flashes {
    line-height: 2;
}

/*----- Cards -----*/
.backing {
    background-color: #46494c;
}

.light-backing {
    background-color: #4c5c68;
}

/*----- Landing page -----*/

#welcome {
top: 0;
font-size: 5vw;
}

.welcome-card {
top: 15vh;
}

/*----- Navbar -----*/
nav {
    background-image: linear-gradient(to right, #4c5c68 , #46494c);
    border-bottom: 3px solid #1985a1;
}
.brand-logo {
    margin-left: 10px;
}

/*----- Recipe list -----*/

.btn-small {
    margin: 2px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 30px;
}

.profile-buttons {
    margin-left: auto;
    text-align: center;
}

/*----- Admin panel -----*/

.card .cuisine-title {
    font-size: 3vw;
}

/*----- Cuisine card -----*/

.cuisine-image {
    max-height: 28vw;
    object-fit: cover;
}

.card .cuisine-image-title {
    font-size: 4vw;
}

.hidden {
    display: none;
}

.card .cuisine-image-btn {
    z-index: 1;
    position: relative;
}

/*----- Recipes -----*/

#add_comment {
    height: 10em;
}

/*----- Modal -----*/

.modal .modal-footer {
    background-color: #4c5c68;
}

/*----- Comments -----*/

.col .comment {
    padding: 20px 0;
}

.comment-buttons


/*----- Media queries -----*/

@media (max-width: 595px) {
    .card .cuisine-image-title {
        font-size: 6vw;
    }
}

