{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title text-shadow border">Browse Recipes</h3>
    <div class="row">  
    {% for cuisine in cuisines %}
    <div class="col s6 m4">
        <div class="card backing text-shadow center-align border">
            <div class="card-image">
                <img class="cuisine-image" src="static/images/{{ cuisine.cuisine }}.jpg">
                <strong class="card-title cuisine-image-title">{{ cuisine.cuisine.capitalize() }}</strong>
            </div>
            
            
    
            <div class="card-action">
                <div class="row">
                    <div class="col s12">
                <form action="{{ url_for('cuisine_recipes') }}" method="POST" class="col s12">
                    <div class="hidden">
                        <input type="text" name="browse" id="browse" value="{{ cuisine.cuisine }}">
                        <label for="browse"></label>
                    </div>
                    <button type="submit" class="btn-small cuisine-image-btn orange darken-2 text-shadow">
                        View
                    </button>
                </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div> 

{% endblock %}
