{% extends "base.html" %}
{% block content %}


    {% if recipes %}
        {% for recipe in recipes %}
        
        <h3 class="text-shadow title border">{{ recipe.cuisine.capitalize() }} Cuisine</h3>
        
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header backing">
                        <div class="col s8">
                            <i class="fas fa-clipboard-list text-shadow"></i>
                            <strong>{{ recipe.dish_name.capitalize() }}</strong> : {{ recipe.submission_date }}
                        </div>
                        <div class="col s3 offset-s4 profile-buttons">
                            <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}"
                                class="btn-small green darken-2 text-shadow">View</a>
                        </div>
                    </div>
                    <div class="collapsible-body light-backing">
                        <strong>Cuisine: {{ recipe.cuisine.capitalize() }}</strong>
                        <p>{{ recipe.description }}</p>
                        <p><em>submitted by: {{ recipe.submitted_by }}</em></p>
                    </div>
                </li>
            </ul>
        </div> {% endfor %}
    {% else %}
    <div class="row sorry">
        <h3 class="col s8 offset-s2 center-align text-shadow title border">Sorry, no recipes have been submitted yet. Try again later.</h3>
        <a href="{{ url_for('browse') }}"
                        class="col s4 offset-s4 btn-small orange darken-2 text-shadow">Back</a>
    </div>
    {% endif %}

{% endblock %}
