{% extends "base.html" %}
{% block content %}

    <h3 class="center-align title border spacer">Edit Cuisine</h3>

    <div class="row card-panel light-backing border">
        <form class="col s12" method="POST" action="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}">
            
            <!-- Add cuisine input -->
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-utensils prefix text-shadow"></i>
                    <input id="cuisine" name="cuisine" minlength="4" maxlength="50"
                        type="text" value="{{ cuisine.cuisine }}" class="validate" required>
                    <label for="cuisine">Cuisine</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s10 offset-s1 center-align">
                    <button type="submit" class="btn-small green darken-2 text-shadow">
                        Edit Cuisine <i class="fas fa-edit right"></i>
                    </button>
                    <a href="{{ url_for('admin') }}" class="btn-small red darken-2 text-shadow">
                        Cancel <i class="fas fa-times-cirlce"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}